In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
# simple aggregation in pandas
ser = pd.Series(np.random.random(5))
ser

0    0.889351
1    0.677385
2    0.254536
3    0.871510
4    0.306336
dtype: float64

In [5]:
ser.sum()

2.9991177296182414

In [6]:
ser.mean()

0.5998235459236483

In [7]:
# For a DataFrame, by default the aggregates return results within each column
df = pd.DataFrame({'A':np.random.random(5),
                  'B': np.random.random(5)})
df

          A         B
0  0.115415  0.849952
1  0.239840  0.193618
2  0.484724  0.512310
3  0.194585  0.905788
4  0.355434  0.912570

In [8]:
df.mean()

A    0.278000
B    0.674848
dtype: float64

In [9]:
# calculate the row mean 0 represents column, 1 represents row
df.mean(axis = 1)

0    0.482684
1    0.216729
2    0.498517
3    0.550187
4    0.634002
dtype: float64

In [10]:
# pandas dataframe use describe() function and returns a lot of information about each column
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [ ]:
# built-in aggregation functions count(), first(),last(),mean(),median(),std(),var(),mad() mean absolute deviation,prod(),sum()

In [11]:
# grouoby(split, applyn combine) those 3 operations to accomplish the groupby
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [12]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [13]:
planets.groupby('method')['orbital_period'].median() # column indexing

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [14]:
# iteration over groups, groupby object support direct iteration over the groups
for (method, group) in planets.groupby('method'):
    print(f"{method} {group.shape}")

Astrometry (2, 6)
Eclipse Timing Variations (9, 6)
Imaging (38, 6)
Microlensing (23, 6)
Orbital Brightness Modulation (3, 6)
Pulsar Timing (5, 6)
Pulsation Timing Variations (1, 6)
Radial Velocity (553, 6)
Transit (397, 6)
Transit Timing Variations (4, 6)

In [17]:
# diapatch methods
planets.groupby('method')['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [18]:
# aggregate(), filter(), transform(), apply()
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'data1': range(6),
                    'data2': np.random.randint(0, 10, 6)},
                    columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      7
2   C      2      8
3   A      3      3
4   B      4      6
5   C      5      3

In [22]:
# aggregate() can compute all the aggregate at once
df.groupby('key').aggregate(['min', np.median,'max'])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     6    6.5   7
C       2    3.5   5     3    5.5   8

In [23]:
df.groupby('key').aggregate({'data1': 'min',
                            'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      8

In [28]:
# filtering 
def filter_func(x):
    return x['data2'].std() > 4
print(df); print(df.groupby('key').std()); print(df.groupby('key').filter(filter_func))

  key  data1  data2
0   A      0      5
1   B      1      7
2   C      2      8
3   A      3      3
4   B      4      6
5   C      5      3
       data1     data2
key
A    2.12132  1.414214
B    2.12132  0.707107
C    2.12132  3.535534
Empty DataFrame
Columns: [key, data1, data2]
Index: []

In [29]:
# transformation 
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5    0.5
2   -1.5    2.5
3    1.5   -1.0
4    1.5   -0.5
5    1.5   -2.5

In [30]:
# apply() allows to let you apply an arbitrary function
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x
print(df); print(df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      7
2   C      2      8
3   A      3      3
4   B      4      6
5   C      5      3
  key     data1  data2
0   A  0.000000      5
1   B  0.076923      7
2   C  0.181818      8
3   A  0.375000      3
4   B  0.307692      6
5   C  0.454545      3

In [31]:
# SPECIFYING THE SPLIT KEY
# a list, array, series or index providing the grouping key
L = [0, 1, 0, 1, 2, 0] # the length of list must match that of the dataframe
print(df); print(df.groupby(L).sum())

  key  data1  data2
0   A      0      5
1   B      1      7
2   C      2      8
3   A      3      3
4   B      4      6
5   C      5      3
   data1  data2
0      7     16
1      4     10
2      4      6

In [32]:
print(df); print(df.groupby(df['key']).sum())

  key  data1  data2
0   A      0      5
1   B      1      7
2   C      2      8
3   A      3      3
4   B      4      6
5   C      5      3
     data1  data2
key
A        3      8
B        5     13
C        7     11

In [33]:
# provide a dic that maps index values to the group keys
df2 = df.set_index('key')
mapping = {'A': 'vowel','B': 'consonant', 'C': 'consonant'}
print(df2);print(df2.groupby(mapping).sum())

     data1  data2
key
A        0      5
B        1      7
C        2      8
A        3      3
B        4      6
C        5      3
           data1  data2
consonant     12     24
vowel          3      8

In [34]:
# pass python function that will input the index value and output the group
print(df2); print(df2.groupby(str.lower).mean())

     data1  data2
key
A        0      5
B        1      7
C        2      8
A        3      3
B        4      6
C        5      3
   data1  data2
a    1.5    4.0
b    2.5    6.5
c    3.5    5.5

In [35]:
# key choices can be combined to group on a multi-index
df2.groupby([str.lower, mapping]).mean()

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    6.5
c consonant    3.5    5.5

In [39]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0